:root {
  --body-background-color: #ffffff; /* Light background */
  --body-text-color: #3b434a; /* On background color for legibility */
  --card-background-color: #b8e2e6; /* Light variant of primary for cards */
  --nav-background-color: #00a0af; /* Primary main for navigation */
  --nav-border-bottom-color: #66c4cc; /* Primary secondary for nav border */
  --nav-current-border-bottom-color: #008a96; /* Primary tertiary for current nav item */
  --card-border-color: #b8e6de; /* Primary secondary for card borders */
  --down-border-left-color: #c03838; /* Sentiment negative for down indicators */
  --down-background-color: #db5555; /* Error light for down backgrounds */
  --degraded-border-left-color: #ffc000; /* Warning main for degraded indicators */
  --up-border-left-color: #007d68; /* Sentiment positive for up indicators */
  --tag-color: #ffffff; /* Primary dark for tag text */
  --tag-up-background-color: #007d68; /* Sentiment positive for up tag background */
  --tag-down-background-color: #992e65; /* Sentiment negative for down tag background */
  --tag-degraded-background-color: #ffc000; /* Warning main for degraded tag background */
  --change-background-color: #ffc000; /* Warning main for change background */
  --error-button-border-color: #c03838; /* Error main for error button borders */
  --error-button-background-color: #db5555; /* Error light for error button background */
  --error-button-color: #ffffff; /* On primary main for button text */
  --submit-button-border-color: #c03838; /* Error main for submit button borders */
  --submit-button-background-color: #db5555; /* Error light for submit button background */
  --submit-button-color: #ffffff; /* On primary main for submit button text */
  --graph-opacity: 1;
  --graph-filter: none;
}
